* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: top -140px right -65px;
}

main {
    font-family: 'Be Vietnam Pro', sans-serif;
    /* background-image: url(/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat; */
}

a {
    text-decoration: none;
    color:inherit;
    font-weight:inherit;
    font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
    color:hsl(228, 39%, 23%);
}

h1 {
    font-weight: 700;
    font-size: 3vw;
    line-height: 3.2vw;
}

h2 {
    font-weight: 600;
    font-size: 2.2vw;
    line-height: 36px;
}

.p-text {
    color: hsl(227, 12%, 61%);
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    word-spacing: 115%;
}

.landing-page {
    margin: 0 12vw;
}

.nav-bar {
    overflow: hidden;
    margin-top: 3vw;
    margin-bottom: 6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0 4vw;
}

.nav-bar ul li {
   margin: 0 1vw;
   color: hsl(228, 39%, 23%);
}

.nav-bar ul li:hover {
    color: hsl(227, 48%, 73%);
    transition: all 0.2s;
}

.button {
    color: aliceblue; 
    background-color: hsl(12, 88%, 59%); 
    box-shadow: 0px 41px 0px -30px rgba(0,0,0,0.5);
    display:inline-block;
    font-size: 16px;
    padding: 12px 36px;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    text-align:center;
    transition: all 0.2s;
}

.button:hover {
    background-color: #f47352;
}

.first-part {
    display: flex;
    justify-content: space-between;
    height: auto;
    margin-bottom: 5vw;
}

.title {
    margin-bottom: 2vw;
}

/* .analytics {
    width: 100%;
    max-width: 400px;
    height: auto;
}
 */
.main-text {
    max-width: 30vw;
}

.main-text .p-text {
    margin-bottom: 2vw;
    width: 70%;
}

.middle-part {
    display: flex;
    justify-content: space-between;
}

.difference {
    max-width: 30vw;
}

.difference p {
    width: 70%;
}

.difference h2 {
    margin-bottom: 2vw;
}

.stat-list h3 { 
    color: aliceblue; 
    background-color: hsl(12, 88%, 59%); 
    border-radius: 10%;
    display:inline-block;
    padding:0.3em 1.2em;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    text-align:center;
    transition: all 0.2s;
    font-size: 16px;
    margin-right: 24px;
}

.stat-list li h4 {
    order: 1;
    margin-bottom: 1vw;
    margin-top: 4px;
    font-weight: 700;
    font-size: 115%;
}

.stat-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 40vw;
}

.stat-list li p {
    flex-grow: 1;
}

.stat-list ul {
    margin-bottom: 3vw;
}

.feedback {
/*     display: flex; */
    /* width: 100%; */
    flex-direction: row;
}

.feedback h2 {
    display: flex;
    justify-content: center;
    order: 1;
    margin-bottom: 5vw;
}

.all-comments {
    display: flex;
}

.person {
    display: flex;
    background-color: hsl(0, 0%, 98%);
    flex-direction: column;
    /* border: 1px solid black; */
    margin: 2px;
    justify-content: center;
}

.avatar img {
    width: 3vw;
    height: auto;
}

.person .avatar {
    justify-content: center;
}

.button-comment {
    display: flex;
    justify-content: center;
    margin-top: 7vw;
    width: 165px;
}

/* .footer {
    margin: 0 12vw;
} */

.footer1 {
    background-image: url(/images/bg-simplify-section-desktop.svg);
    background-repeat: no-repeat;
    background-position-y: top;
    background-color: hsl(12, 88%, 59%);
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    padding: 30px 0;
}

.encouragement {
    margin: 0 12vw;
    width: 30%;
}

.encouragement h2 {
    color: aliceblue;
    font-weight: 600;
    font-size: 38px;
}

.inverse-button {
    color: hsl(12, 88%, 59%);
    background-color: aliceblue;
    margin: 0 12vw;
    font-weight: 500;
}

.inverse-button:hover {
    background-color: #ffffff;
}

.footer2 {
    background-color: hsl(233, 12%, 13%);
    height: 240px;
    display: flex;
    justify-content: space-between;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

.left-side {
    margin-left: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-side li a img {
    transition-delay: 0.1s;
}

.left-side li a img:hover {
    filter: invert(49%) sepia(44%) saturate(3367%) hue-rotate(337deg) brightness(97%) contrast(95%);
}

.left-side .logo img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);}

.social ul {
    margin: auto 0px;
    justify-content: space-between;
}

.middle-side li a {
    color: aliceblue;
}

.middle-side ul {
    flex-direction: column;
}

.more li {
    margin-bottom: 20px;
}


.right-side {
    margin-right: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input .email {
    color: black; 
    background-color: white; 
    box-shadow: 0px 41px 0px -30px rgba(0,0,0,0.5);
    display:inline-block;
    font-size: 16px;
    padding: 10px 22px;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    transition: all 0.2s;
}

.copyright {
    display: flex;
    justify-content: flex-end;
}

.copyright p {
    font-weight: 200;
    color: hsl(227, 12%, 61%);
    font-size: 12px;
}

.input .submit {
    color: aliceblue; 
    background-color: hsl(12, 88%, 59%); 
    box-shadow: 0px 41px 0px -30px rgba(0,0,0,0.5);
    display:inline-block;
    font-size: 16px;
    padding: 10px 22px;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    text-align:center;
    transition: all 0.2s;
}

.button:hover {
    background-color: #f47352;
}

